html, body {
    height: 100%;
}


.content-image {
    background-image:    url('./bg1.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    grid-column: 1 / -1;
}

.content {
    grid-column: 1 / -1;
}

.link-container {
    text-align: center;
    padding: 50px;
}

.header {
    display: grid;
    grid-column: 1 / -1;
}

.link {
    padding: 10px;
}


  .wrapper {
      height: 100% !important;
      display: grid !important;
      grid-template-rows: 100px 1fr 100px; 
  }

  .footer {
      grid-column: 1 / -1
  }

  .game {
      text-align: center
  }